@charset 'utf-8';
body{
     padding: 0;
     margin: 0;
}
html, body, #mapid {
     height: 100%;
     width:100vw;
    }

input[type='text']{
     width: 300px;
     padding:5px;
     border-radius: 5px;
     border: 1px solid #ccc;
     appearance: none;
     display: inline;
}
button[type="submit"]{
     border: none;
     display: inline;
     border-radius: 5px;
     background-color: #333;
     color: #fff;
     appearance: none;
     cursor: pointer;
     margin: 4px;
}
.introjs-tooltip{
     max-width: none;
}