{% extends "layout.html" %}
{% block title %} Map {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<link rel="stylesheet" href="static/css/style.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}
{% block body %}
<h1> TweetQuake</h1>
<form action="/result" method="get">
    <label for="url">Tweet URL</label>
    <input type="text" name="name">
    <button type="submit">送信</button>
</form>

</script>

{% endblock %}
